.navbar, .navbar * {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #5133a4;
  min-height: 83px;
  color: white;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

nav ul {
  width: 100%;
}

nav li {
  text-align: center;
  display: inline-block;
  width: 33.3%;
}

nav a {
  color: white;
  font-weight: 900;
  text-decoration: none!important;
}

nav a:hover {
  color: white;
}